:root {
    font-size: calc(16px + (28 - 16) * (100vw - 300px)/(1440 - 300));
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(32, 32, 32);
}

#calc {
    background-color: green;
    margin: 40px auto;
    width: 20em;
}

#display {
    background-color:rgb(125 125 125);
    text-align: right;
    padding: .5em;
    font-size: 2em;
}

#calcButtons {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btn {
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.operatorButtons {
    background-color: rgb(111 48 48);
}

.operatorButtons:focus {
    background-color: rgb(179, 74, 74);
}

.equalsButton {
    background-color: #ad750d;
}

.btn:active {
    background-color: rgb(32 62 113);
}

.span2 {
    grid-column: span 2;
}